.loginContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    form {
        padding: 0 30px;
        margin-bottom: 30px;
        .loginTitle {
            text-align: center;
        }
        label {
            width: 100%;
            margin-bottom: 30px;
            span {
                font-size: 15px;
                font-weight: 400;
            }
            input {
                width: 100%;
                margin-top: 20px;
                height: 40px;
                border: 1px solid gray;
                padding-left: 20px;
            }
        }
        .rememberMeAndForgetPassword{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            height: 30px;
            margin-bottom: 30px;
            div {
                width: auto;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 0;
                input {
                    margin: 0;
                    // margin-top: 0;
                    // margin-right: 10px;
                    width: 20px;
                }
            }
            p {
                font-size: 15px;
            }
        }
        button {
            width: 100%;
            height: 40px;
            background-color: deeppink;
            border: none;
            color: white;
        }
    }
    .socialButtonsContainer {
        display: flex;
        width: 100%;
        gap: 15px;
        padding: 0 30px;
    }
}